.shop{
    background: $medium-color;
    padding: 30px 0;

    &__tabs{
        margin-top: 70px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        padding-left: 0;
    }

    &__tab{
        width: 20%;
        height: 52px;
        background: white;
        border: 2px solid #D0D0D0;
        box-sizing: border-box;
        font-family: 'MuseoModerno';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
        color: #6b6b6b;
        line-height: 48px;
        transform: skewX(-25deg);
        margin: 0 5px;
        cursor: pointer;
        a{
            text-decoration: none;
            display: block;
            cursor: pointer;
            width: 94%;
            height: 100%;
            font-size: 18px;
            transform: skewX(25deg);    
            
        }
        &:hover{
            box-shadow: 3px 3px 20px $main-color;
            border: none;
        }
        &_active{
            color: #fff;
            background-color: $main-color;
            border: none;
        }
    }
    
    &__products{
        margin-top: 40px;
        display: none;
        &_active{
            display: block;
        }
        &__wrapper{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(280px, auto));
            gap: 15px;
            justify-content:space-around;
        }
    }
    &__product
    {
        padding: 10px;
        width: 280px;
        min-height: 400px;
        display: grid;
        grid-template-rows: 260px 1fr 40px;
        row-gap: 5px;
        border: 1px solid $medium-color;
        &__bottom{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        img{
           width: 100%;
           min-height: 220px;
           object-fit: cover;
           border-radius: 4%;
        }   
        &:hover{
            border: 1px solid black;
            border-radius: 4%;  
        }
    }
    &__price{
        color: $light-color;
        text-shadow: $usual-color 1px 1px 0, $usual-color -1px -1px 0, 
        $usual-color -1px 1px 0, $usual-color 1px -1px 0;
    }
}



.shop {
    background: #adc178;
    padding: 30px 0;
  }
  .shop__tabs {
    margin-top: 70px;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
  }
  .shop__tab {
    width: 20%;
    height: 52px;
    background: white;
    border: 2px solid #d0d0d0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "MuseoModerno";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #6b6b6b;
    line-height: 48px;
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
    margin: 0 5px;
    cursor: pointer;
  }
  .shop__tab a {
    text-decoration: none;
    display: block;
    cursor: pointer;
    width: 94%;
    height: 100%;
    font-size: 18px;
    -webkit-transform: skewX(25deg);
    transform: skewX(25deg);
  }
  .shop__tab:hover {
    -webkit-box-shadow: 3px 3px 20px #21a549;
    box-shadow: 3px 3px 20px #21a549;
    border: none;
  }
  .shop__tab_active {
    color: #fff;
    background-color: #21a549;
    border: none;
  }
  .shop__products {
    margin-top: 40px;
    display: none;
  }
  .shop__products_active {
    display: block;
  }
  .shop__products__wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(280px, auto)) [auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 15px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .shop__product {
    padding: 10px;
    width: 280px;
    min-height: 400px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 260px 1fr 40px;
    grid-template-rows: 260px 1fr 40px;
    row-gap: 5px;
    border: 1px solid #adc178;
  }
  .shop__product__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .shop__product img {
    width: 100%;
    min-height: 220px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 4%;
  }
  .shop__product:hover {
    border: 1px solid black;
    border-radius: 4%;
  }
  .shop__price {
    color: #fefaec;
    text-shadow: #000 1px 1px 0, #000 -1px -1px 0, #000 -1px 1px 0,
      #000 1px -1px 0;
  }
  .cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    z-index: 20000;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
  }
  .cart__active {
    right: 0;
    visibility: visible;
    opacity: 1;
  }
  .cart__block {
    position: relative;
    float: right;
    width: 380px;
    background-color: #fefaec;
    height: 100%;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    z-index: 10;
  }
  .cart__name {
    min-height: 40px;
    width: 100%;
    padding: 10px 15px 5px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 24px;
  }
  .cart__list {
    max-height: 82.5vh;
  }
  .cart__close {
    cursor: pointer;
  }
  .cart__close:active {
    color: red;
  }
  .cart__overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.75;
  }
  .cart__fullprice {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    font-weight: bold;
    font-size: 24px;
    margin-left: 5px;
    color: red;
  }
  .cart-product {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100px 1fr 24px;
    grid-template-columns: 100px 1fr 24px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
    -webkit-column-gap: 10px;
    column-gap: 10px;
    padding: 12px 15px;
    padding-right: 13px;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }
  .cart-product__img {
    max-width: 100px;
    max-height: 100px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .cart-product__delete {
    -ms-grid-column-align: end;
    justify-self: end;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-image: url("../icons/busket.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    padding: 0;
  }
  .cart-product__title {
    max-width: 220px;
    white-space: pre-wrap;
    font-weight: 400;
    font-size: 18px;
    float: left;
    line-height: 20px;
    color: #000;
    margin-bottom: 18px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .cart-product__text {
    width: 100%;
    font-size: 20px;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40px 1fr;
    grid-template-columns: 40px 1fr;
    -webkit-column-gap: 10px;
    column-gap: 10px;
  }
  .cart-product__counter {
    height: 27px;
    padding-left: 1px;
    font-size: 18px;
  }
  .cart-product__price {
    color: #21a549;
    font-weight: bold;
  }
  .cart__bottom {
    position: absolute;
    bottom: 0;
    border-top: 1px solid;
    padding: 15px 5px;
    background: #fffae9;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 8px;
    column-gap: 8px;
    row-gap: 10px;
  }
  