.title{
    font-weight: 500;
    color: #000000;
    &-18{
        font-size: calc(14px + 4* ((100vw - 320px) / (1200 - 320)));
    }
    &-14{
        font-size: 14px;
    }
    &-32{
        font-size: 32px;
    }
    &-36{
        font-size: calc(24px + 12* ((100vw - 320px) / (1200 - 320)));
    }
    &-48{
        font-size: 48px;
    }
    &-64{
        font-size: calc(20px + 32* ((100vw - 320px) / (1200 - 320)));
    }
    &-300{
        font-weight: 300;
    }
    &-light{
        color: $light-color;
    }
    &-hard{
        color:$hard-color;
    }
    &-main{
        color:$main-color;
    }

    &-usual{
        overflow: hidden;
        text-align: center;
        color: #ffda29;
        text-shadow: $usual-color 1px 1px 0, $usual-color -1px -1px 0, 
        $usual-color -1px 1px 0, $usual-color 1px -1px 0;
        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            height: 3px;
            background-color: $light-color;
            position: relative;
            margin-left: -100%;
            left: -14px;
        }
        &:after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            height: 3px;
            background-color: $light-color;
            position: relative;
            margin-right: -100%;
            right: -14px;
        }
    }
}